.container {
  margin: 0 auto;

  padding: 24px;
  width: 375px;

  background-color: #e6e6e6;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}

.title {
  font-size: 24px;
}

.toggleWrapper {
  display: flex;
  align-items: center;
}
