.wrapper {
  margin-top: -3px;
  display: grid;
  grid-template-columns: 70px 70px;
  grid-template-rows: 17px 27px;
  width: 140px;
  height: 44px;
  // box-shadow: 0 0 1px 0 tomato;
}

.title {
  padding-top: 5px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  align-self: center;
  margin-top: -2px;

  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.markers {
  margin: 0 auto;
  width: 50px;
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  font-size: 11px;
  letter-spacing: 17px;
}

.toggle {
  position: relative;

  height: 26px;
  width: 70px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  border-radius: 16px;
  background-color: var(--toggle-keypad-background);

  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.label {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  cursor: pointer;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.option {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: var(--toggle-circle);
  transition: transform 200ms ease;

  pointer-events: none;
}

.active {
  /* TODO: move to vars: */
  box-shadow: 0 0 0 4px rgb(35, 221, 35);
}
